<configuration><configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
                       <section name="vWorkus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <applicationSettings>
        <vWorkus.Properties.Settings>
            <setting name="TotalTime" serializeAs="String">
                <value>07:30</value>
            </setting>
            <setting name="StepInMinutes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AlertSoundPath" serializeAs="String">
                <value>D:\REPO\Github\TickEvery\sound\hourlychimebeg.mp3</value>
            </setting>
            <setting name="TimeDelta" serializeAs="String">
                <value>10</value>
            </setting>
        </vWorkus.Properties.Settings>
    </applicationSettings>
</configuration>