<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="vWorkus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <vWorkus.Properties.Settings>
      <setting name="TotalTime" serializeAs="String">
        <value>07:00</value>
      </setting>
      <setting name="StepInMinutes" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AlertSoundPath" serializeAs="String">
        <value>D:\REPO\Github\TickEvery\sound\hourlychimebeg.mp3</value>
      </setting>
      <setting name="TimeDelta" serializeAs="String">
        <value>10</value>
      </setting>
    </vWorkus.Properties.Settings>
  </userSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="${basedir}/logs"/>

    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${message}"/>
      <target name="LogFileInOneFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM}_log.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Info" writeTo="console"/>
      <logger name="*" minLevel="Warn" writeTo="LogFileInOneFile"/>
    </rules>
  </nlog>
</configuration>