<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="logDirectory" value="${basedir:fixtempdir=true}/logs" />
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${message}" />
    <target name="LogFileInOneFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM}.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}" />
  </targets>
  <rules>
    <logger name="*" minLevel="Info" maxLevel="Info" writeTo="console" />
    <logger name="*" minLevel="Info" writeTo="LogFileInOneFile" />
  </rules>
</nlog>